<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<br><button onclick="location.href='{% url 'home' %}'" class="navigation-button">Django-barter -> На главную</button>
<br><div class="auth-card">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.errors }}
            Имя пользователя:<br>{{ form.username }}
            {% if form.username.errors %}
            <div class="auth-error">{{ field.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-row">
            <br>Пароль:
            <br>{{ form.password }}
            <span class="helptext" id="id_password1_helptext"></span>
            {% if form.password.errors %}
            <div class="auth-error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <div class="submit-row">
            <br><button type="submit" class="add-button">Авторизоваться</button>
        </div>
        <div class="submit-row">
            <br><h2>Нет аккаунта?</h2>
            <button onclick="location.href='{% url 'users:registration' %}'" class="add-button">Регистрация</button>
        </div>
    </form>
</div>
</body>
</html>