<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<br><button onclick="location.href='{% url 'home' %}'" class="navigation-button">Django-barter -> На главную</button>
<br><div class="auth-card">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            <label class="auth-description">Имя пользователя:</label>
            <br>{{ form.username }}
            {% if form.username.errors %}
            <div class="auth-error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-row">
            <br>Пароль:
            <br>{{ form.password1 }}
            <span class="helptext" id="id_password1_helptext"></span>
            {% if form.password1.errors %}
            <div class="auth-error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-row">
            <br>Подтверждение пароля:
            <br>{{ form.password2 }}
            {% if form.password2.errors %}
            <div class="auth-error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        <div class="submit-row">
            <br><button type="submit" class="add-button">Зарегистрироваться</button>
        </div>
    </form>
</div>
</body>
</html>