<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ad.title }}</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'ads/style.css' %}">
<br><button onclick="location.href='{% url 'home' %}'" class="navigation-button">Django-barter -> На главную</button>
{% block content %}
<br><div class="ad-card">
    <h1 class="ad-title">Объявление {{ ad.id }}</h1>
    {% if ad.image_url %}
        <img src="{{ ad.image_url }}" alt="{{ ad.title }}" class="ad-image">
    {% endif %}
    <p class="ad-description">
        <h2 class="ad-title">{{ ad.title }}</h2>
    </p>
    <p class="ad-description">Описание: {{ ad.description }}</p>
    <p class="ad-description">Категория: {{ ad.category }}</p>
    <p class="ad-description">Состояние: {{ ad.condition }}</p>
    <p class="ad-description">Дата публикации: {{ ad.created_at }}</p>
    {% if is_owner %}
        {% if is_confirmation %}
            <form method="post">
                {% csrf_token %}
                <button class="add-button">Разместить объявление</button>
            </form>
            <button onclick="location.href='{% url 'ads:new_ad' %}'" class="add-button">Вернуться к редактированию</button>
        {% elif not is_delete %}
            <button onclick="location.href='{% url 'ads:ad_edit' ad.id%}'" class="add-button">Изменить объявление</button>
            <br><a href="{% url 'ads:ad_delete' ad.pk %}">Удалить объявление</a>
        {% elif is_delete %}
            <form method="post">
                {% csrf_token %}
                <p>Вы действительно хотите удалить объявление?</p>
                <button class="delete-button">Удалить безвозвратно</button>
            </form>
        {% endif %}
    {% else %}
        {% if user_have_ads %}
            <br><button onclick="location.href='{% url 'ads:new_exchange' ad.id %}'" class="add-button">Предложить обмен</button>
        {% else %}
            <br><h2>У вас еще нет объявлений для обмена.
            <br>Для обмена сначала создайте своё:</h2>
            <button onclick="location.href='{% url 'ads:new_ad' %}'" class="add-button">Создать объявление</button>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
</body>
</html>