<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ad</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'ads/style.css' %}">
<br><button onclick="location.href='{% url 'home' %}'" class="navigation-button">Django-barter -> На главную</button>
<br><div class="ad-card">
    <form method="post" class="ad-form">
        {% csrf_token %}

        <h2 class="ad-title">Создание объявления</h2>

        {% for field in form %}
        <p></p><div class="form-group">
            <label class="ad-description">{{ field.label_tag }}</label>
            <br>{{ field }}
            {% if field.errors %}
            <div class="ad-error">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% if is_edit %}
            <br><button type="submit" class="add-button">Изменить</button>
        {% else %}
            <br><button type="submit" class="add-button">Предварительный просмотр</button>
        {% endif %}
    </form>
</div>
</body>
</html>