<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads list</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'ads/style.css' %}">
<br><button onclick="location.href='{% url 'home' %}'" class="navigation-button">Django-barter -> На главную</button>
<h1>Список вещей для обмена:</h1>
<button onclick="location.href='{% url 'ads:new_ad' %}'" class="add-button">Добавить свое объявление</button>

<br><div class="filters-container">

    <!--Поиск по ключевым словам-->
    <form method="get" class="filter-form">
        <div class="filter-group">
            <input type="text" name="search"
                   placeholder="Поиск по ключевым словам"
                   value="{{ request.GET.search }}">
        </div>

        <!--Фильтрация по категориям-->
        <div class="filter-group">
            <select name="category">
                <option value="">Все категории</option>
                {% for i_category in categories_list %}
                    <option value="{{ i_category }}"
                        {% if request.GET.category == i_category %}
                            selected
                        {% endif %}>
                        {{ i_category }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!--Фильтрация по состоянию-->
        <div class="filter-group">
            <select name="condition">
                <option value="">Любое состояние</option>
                {% for i_condition in conditions_list %}
                    <option value="{{ i_condition }}"
                        {% if request.GET.condition == i_condition %}
                            selected
                        {% endif %}>
                        {{ i_condition }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!--Порядок отображения-->
        <div class="filter-group">
            <select name="ordering">
                <option value="-created_at"
                    {% if request.GET.ordering == "-created_at" %}
                        selected
                    {% endif %}>
                    Сначала новые
                </option>
                <option value="created_at"
                    {% if request.GET.ordering == "created_at" %}
                        selected
                    {% endif %}>
                    Сначала старые
                </option>
                <option value="title"
                    {% if request.GET.ordering == "title" %}
                        selected
                    {% endif %}>
                    По названию (А-Я)
                </option>
                <option value="-title"
                    {% if request.GET.ordering == "-title" %}
                        selected
                    {% endif %}>
                    По названию (Я-А)
                </option>
            </select>
        </div>

        <button type="submit" class="filter-button">Применить фильтры</button>
        <a href="?" class="reset">Сбросить</a>
    </form>
</div>

<!--Верхняя пагинация-->
<br><div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&{{ current_params }}">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}&{{ current_params }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ current_params }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ current_params }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>

<!--Отображение товаров-->
{% if page_obj %}
    <div class="ad-grid">
        {% for ad in page_obj %}
            <div class="ad-card">
                <a href="{% url 'ads:ad_detail' ad.id %}" class="ad-link">
                <h2>Предложение {{ ad.id }}</h2>
                </a>
                {% if ad.image_url %}
                    <img src="{{ ad.image_url }}" alt="{{ ad.title }}" class="ad-image">
                {% endif %}
                <h2 class="ad-title">{{ ad.title }}</h2>
                <p class="ad-description-short">Описание: {{ ad.description }}</p>
                <p class="ad-description-short">Категория: {{ ad.category }}</p>
                <p class="ad-description-short">Состояние: {{ ad.condition }}</p>
                <p class="ad-description-short">Дата публикации: {{ ad.created_at }}</p>
                {% if ad.user == user %}
                    <h2 class="ad-owner">(*Ваше объявление*)</h2>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Нет вещей, доступных для обмена.</p>
{% endif %}

<!--Нижняя пагинация-->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&{{ current_params }}">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}&{{ current_params }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ current_params }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ current_params }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>